{
  "credentials" : {
    "sysadmin" : {
      "username" : "",
      "password" : ""
    },
    "standardUser" : {
      "username" : "",
      "password" : ""
    }
  },
  "url": "https://login.salesforce.com",
    "timeout": {
      "explicit" : 30000
    }
}
